<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<settings>

	<!-- Prrefix you want to use for your commands -->
	<PREFIX>-</PREFIX>

	<ONLINE_STATUS></ONLINE_STATUS>

	<GAME></GAME>

	<WA_REFRESHTIME></WA_REFRESHTIME>

	<WA_CHANNEL></WA_CHANNEL>

	<PERMISSION_ROLES></PERMISSION_ROLES>

	<DOCID_WARFRAMEALERTSFILTER></DOCID_WARFRAMEALERTSFILTER>

	<DOCID_JOKES></DOCID_JOKES>

	<VOICELOG_CHANNEL></VOICELOG_CHANNEL>

	<COMMAND_CONSOLE_OUTPUT></COMMAND_CONSOLE_OUTPUT>

</settings>